<mat-card>
    <mat-card-header>
        <mat-card-title>📝 Todo's</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let item of (items | todos: false)">
                <div>
                    <span>{{item.description}}</span>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>✅ Done</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let item of (items | todos: true)">
                <div>
                    <span>{{item.description}}</span>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>